<!--Author(A): Kelly Daniella Marin
    Date of creation: 16-02-2023
    Last modification: 23-02-2023-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Three JS</title>
    <!-- Etiqueta FavIcon -->
    <link rel="stylesheet" href="../css/mainStyle.css">
    <!-- Basic definition of library (WebGL)-->
    <script src="../libs/three.js"></script>
    <script src="../vendors/three.js-master/build/three.min.js"></script>
    <!-- Loader GLTF, OBJ Y MTL-->
    <script src="../vendors/load/DRACOLoader.js"></script>
    <script src="../vendors/load/GLTFLoader.js"></script>
    <script src="../vendors/load/MTLLoader.js"></script>
    <script src="../vendors/load/OBJLoader.js"></script>
    <!-- Interaction with mouse (Zoom in, out, drag, movement camera, others) -->
    <script src="../libs/OrbitControls.js"></script>
    <!-- My own file of edition and work with TREEJS -->
    <script src="../js/mainGames.js"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
    <link rel="stylesheet" href="../css/dices.css">

</head>

<body onload="start3dService()">

    <audio id="myBackgroundSound">
        <source src="../sounds/backgroundSound.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <canvas width="800" height="600" class="webgl"></canvas>

    <div class="topnav">
        <a class="active" href="#home">Home</a>
    </div>

    <div class="dicesBottom"> </div>

    <div class="dicesBottom">
        <figure onclick="throwDices()">
            <img class="build" src="../img/Dados.png" alt="Tirar Dados">
        </figure>

    
    </div>
</body>
</html>